@model SIGHR.Models.ViewModels.UtilizadorViewModel

@{
    ViewData["Title"] = "Excluir Utilizador";
    Layout = "_LayoutAdmin";
}

<h1>@ViewData["Title"]</h1>

<h3>Tem certeza que deseja excluir este utilizador?</h3>
<div>
    <h4>@Model.NomeCompleto (@Model.UserName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UserName)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.UserName)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Tipo)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Tipo)</dd>
    </dl>
    <hr />
    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Excluir</button> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>